<div [ngSwitch]="id" class="expFrame">
    
    <div *ngSwitchCase="1">
            Frontend Projects
        <ul><li>Portfolio Page:<br>
            A portfolio web app built with Angular to display basic information about myself as a developer and highlight notable projects that I have worked on.
        </li>
        <li>
                Online Retail Site:<br>
            An online ordering front end project built with Angular to add items to the cart and display the order total.
        </li>
        </ul>             
    </div>  
    <div *ngSwitchCase="2">
        <ul>
            <li>Designed and developed the wireless and wireline billing plans.</li>
            <li>Analyzed the requirements and provide the possible solutions to business in the new
            functionalities.</li>
            <li>Maintained the configuration flow across the Billing/Provisioning systems to ensure
            the customer choose the billing plans and services.</li>
            <li>Supported billing activities like customer account management, usage
            accumulation, invoice preparation and payment processing.</li>
        </ul>
    </div>     
    <!-- <div *ngSwitchDefault>Value is Default</div>  	 -->
</div>