<div class="container">
    <div class="row">
     <div class="col-md-4">
       <h2><i>Poojitha Mandali</i></h2>
       <div class="card" style="width:375px">
         <img class="card-img-top" src="https://fastly.picsum.photos/id/9/367/267.jpg?hmac=T7owcj6NXY0SJiB-H1XxauCZKaZJkkXWOEQw8GZseAc" alt="Card image" style="width:100%">
         <div class="card-body">
           <p class="card-text"><strong>Frontend Developer / Angular</strong> - Expertise in HTML, CSS, TypeScript, JavaScript & Angular</p>
           <div class="mx-auto">
             <a class="btn btn-info" style="cursor: pointer" routerLink="profile">See Profile</a>
             <a class="btn btn-info" style="cursor: pointer" routerLink="workexp">Work Experience</a>
           </div>
         </div>
       </div>    
     </div>
     <div class="col-md-8">
       <router-outlet></router-outlet>
     </div> 
    </div>
   </div>